body{
    background-color: blueviolet; 
}
.bg-image{
    background-image:url("../image/calculator.jpg");
    height: 100vh;
    filter: blur(4px);
    width: 100%;
    background-repeat:no-repeat ;
    background-position: center;
    background-size: cover;
}